.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-items {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-items {
  width: 75%;
}

.chart-content {
  margin-top: 20px;
}
